:root{
    --primary-color:blueviolet;
    --background-color:black;
    --font-color: white;
    --font-size: 2rem;
    --secondary-color:red;
    --font-size-2: 1.6rem;
}
.bd1{
    overflow-x: hidden !important;
}

.myname{

    color:var(--primary-color);
    padding-left: 15px;
     padding-right: 15px;
    
}
.myname:hover{

    color:var(--background-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: var(--primary-color);
    
}
.prof{
    text-decoration: none;
    color: var(--primary-color);
}
.span{
    color: var(--primary-color);
    font-size: var(--font-size);
    padding-inline: 10px;
}
.span:hover{
   border: 2px dotted var(--primary-color);
   transform: rotateY(5deg);
   cursor: pointer;
   
}
.diped{
    display: none;
}
.drop1{
    display: none;
}

.sicons{
    color:var(--primary-color);
    font-size: var(--font-size)
}

header{

    height: 100px;
    border:2px solid black;
    background-color: var(--background-color);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.hd{
    padding-top: 25px;
}

.sech{
font-size: var(--font-size);
text-decoration: none;
color: var(--primary-color)

}

.body{

    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
    /* background-color: black */
    background-image: url("./images/oche4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.yoi{
    padding-top: 160px;
}

.left{
    height: 80vh;
    /* border: 2px solid red; */
}
/* .right{
    height: 80vh;
    border: 2px solid red;
} */
.abt{

    font-size: 5.2rem;
    font-weight: 700;
}
.spn1{
    color:var(--primary-color) !important;
    font-size: 4rem !important;

}
.mee{

    text-shadow: 2px 2px 2px var(--primary-color) !important;
}
/* .dot1{
    color: red !important; 
    font-size: 20rem;
    

} */
.det{

    font-size: 3rem;

}
.prg1{
    font-size: var(--font-size);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.color{
    color: var(--font-color);
    background-color: black;
    font-size: 1.5rem;
    border-radius: 55px;
    padding: 20px;
    border: 8px
    
    
    
}
.color:hover{
    color: var(--primary-color);
    background-color: transparent;
    border: 10px solid var(--primary-color);
    transform: scale(0.8);
}
.images{
    height: 500px;
    /* border: 2px solid red; */


}

.images > img{
    width: 100%;
    height: 100%;

}

.images > img:hover{
   animation: ann .6s linear; 

}

@keyframes ann{
    0%{transform: scale(.95);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1.2);}
}
.about{
    /* border: 2px solid red; */
    /* height: 500px; */
    background-color: var(--background-color);
}
.aboutcontent{
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
}
.about-image{
    position: relative;
}
.about-image img{
    max-width: 500px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    font-size: 3rem;
}
/* .about-image span{
    color: ;
} */


.about2container{
    font-size: 2.8rem;
    color: var(--font-size);


}
.about2{
    font-size: 2.3rem !important; 
    color: var(--primary-color) !important;

}
.prg2{
    font-size: 1.5rem;
    line-height: 1.5;
}
.about-right{
    padding-right: 45px;
    text-align: left !important;
}
/* .servicesection{
    height: 700px;
    border: 2px solid red;
} */
.serviceheading1{
    text-shadow: 2px 2px 2px var(--primary-color) !important;
}


.cd1{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    animation:hope 0.5s linear;
    transition: all 0.45s ease;
}
.cd1:hover{
    cursor: pointer;
    transform: translateY(10px);
    
}
@keyframes hope {
        0%{
            transform: scale(0.5);
            opacity: 0.4;
            
        }
        50%{
            transform: scale(0.7);
            opacity: 0.7;
            
        }

        100%{
            transform: scale(1);
            opacity:1;
        }

    }
    .text-in{
        position: absolute;
        top: 28%;
        left: 44%;
    }

    .circle {
    height: 100px;
    width: 100px;
    border: 2px solid #79502a;
    border-radius: 50%;
    background-color: #d23d4c;
    position: absolute;
    top: 44%;
    left: 59%;

    }

    .footer{
        margin-top: 1rem;
        background-color: var(--background-color);
        /* height: 400px; */
        /* border: 2px solid red; */
    }
    /* .contact{

        height: 300px;
        border: 2px solid red;
    } */
    /* .left{
        height:100%;
        border-right: 5px solid blue;
    } */
    /* .right{
        height:100%;
        border-right: 2px solid blue;
    } */
    .mai2{
        text-decoration: none;
        

    }

    .numemail{
        color: var(--primary-color) !important;
        font-size: var(--font-size);
        transition: all 0.45s ease;
        
        
    }
    .numemail:hover{
        color: white !important;
        transform: translateY(10px) !important;
        

    }
    /* .mai1:hover{
        c
    } */
     
.tel1{
    text-decoration: none;
}
.caty{
    font-size: var(--font-size);

}
.mssg{
    font-size: var(--font-size);
    transition: all .45s ease;
    
    
}
.mssg:hover{
    background-color: transparent;
    transform: skewY(5deg);
    
}
.mappy1{
    height: 500px;
    width: 100%;
    /* border: 2px solid red; */
}
.mappy1 iframe{
    height: 100%;
    width: 100%;
    
}

.text-purple{
    color: var(--primary-color);
}

/* //////////////////////// MEDIA QUERIES ////////////////////////////// */
@media screen and ( max-width: 800px){
    .diped{
        display: none;
    }
    .myname{
        font-size: var(--font-size-2);
        padding-top: 10px;
    }
    .sicons {
        font-size: var(--font-size-2);
    }
    .sech {
       font-size: var(--font-size-2);
    }
    .abt {
       font-size: 3.2rem;
    }
    .spn1 {
       font-size: 3rem !important;
    }
    .det {
       font-size: 2rem;
    }
    .color {
       font-size: 1.2rem;
       padding: 18px;
    
    }
    .prg2 {
       font-size: 1.2rem;
       line-height: 1.4;
    }
    .about{
       padding-bottom: 50px;
    }
    .card-title{
        font-size: 1.1rem;
    }
    .card-text{
       font-size: 0.9rem;
    }
    .caty{
        padding-top: 50px;
        font-size: 1.5rem;
    }
    .cont1{
        font-size: 1.5rem;
        padding-top: 50px !important;
    }
    .numemail {
        font-size: 1.29rem;
    }
    .container3{
        margin-top: 50px;
    }
    .mssg{
        font-size: 1.5rem;
    }


}

/* ////////////////////// MEDIA QUERY FOR MOBILE DEVICE //////////////////////////////// */
    @media screen and (max-width: 500px){
            
        .profcum{
            width: 60% !important;
            display: none !important;

        }
        .myname {
            padding-top: 0px;
            font-size: 1.5rem;
        }
        .ochecumc{
            opacity: 0;
            visibility: hidden;
            display: none;
        }

        .drop1{
            /* margin-left: 140px; */
            display: block;
            margin-right: 15px;
        }
        .diped{
            display: block;
        }
        .d-none{
            display: block !important;
        }
        .bttn{
            background-color: var(--primary-color);
            color:var(--font-color)
        }
        .prg1 {
            font-size: 1.5rem;
    
        }
        .body {
            height: auto;
    
        }
        .aboutcontent {
            grid-template-columns:1fr;
   
        }
        .about-right {
            padding-left: 20px;
        }
        .left {
            height: auto;
    
        }
        .right{
            width: 90%;
            margin-inline: 5%;
        }
        

}


/* ////////////////////MEDI QUERRY///////////////////// */
@media screen and (max-width: 380px){
    .diped{
        margin-right: 15px !important;
    }
}

/* //////////////////////MEDIA QUERRY//////////////////////////// */
@media screen and (max-width: 330px){ 
    .myname {
        font-size: 1.3rem;
    }
     .diped{
        margin-right: 45px !important;
    }
    .sech {
        font-size: 1.37rem !important;
    }
    .yoi {
        padding-top: 82px;
    }
    
}